<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Orders</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 15px;
            }
            h6{
                padding-bottom: 5px;
            }
            </style>
</head>

<body>
        <nav class="navbar navbar-light bg-light">
                <a style="margin-left: 80px;" class="navbar-brand" href="/">home</a>
              </nav>
            
        <div class="container">
                <header class="jumbotron">
                <div class="container">
                <h1 style="padding-bottom: 20px">Orders Details - #<%=order.id %></h1>  
                <h6><strong>Email: </strong><%= order.email %></h6>
                <h6><strong>Number: </strong><%= order.number %></h6>
                <h6><strong>Price: </strong><%= order.total_price %></h6>
                <h6><strong>Currency: </strong><%= order.currency %></h6>
                <h6><strong>Line Items: </h6>
                    <table style="width:60%">
                            <tr>
                              <th>id</th>
                              <th>title</th> 
                            </tr>
                    <% order.line_items.forEach(function(item){ %>
                        <tr>
                                <td><%= item.id %></td>
                                <td><%= item.title %></td>
                              </tr>
                        <% });%> 
                    </table>
                <h6 style="padding-top: 15px;"><strong>Billing Address: </strong><%= order.billing_address.first_name %>, <%= order.billing_address.address1 %>,<%=order.billing_address.city %>, <%=order.billing_address.zip %></h6>
                </div>
                <a class="btn btn-primary btn-large" style="  margin-top: 10px;  margin-left: 12px;" href="/order/<%=order.id%>/edit">edit order</a>
                </header>
                
                </div> 

    <footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="#"> BazingaTestApp </a>
        </div>
        <!-- Copyright -->

    </footer>
</body>

</html>